.profile{
    display: flex;
}

.profileRight {
    flex:7;
}


.profileCover {
    height: 320px;
    position: relative;
}

.profileCoverImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}




.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}


.profileRightBottom{
    display: flex;
}


.profileSidebar{
    flex: 1.75;
}



/*All Profile Media Queries */

@media only screen and (max-width: 1500px) {
    .feed, .sidebar{
        width:33%;
    }
    .rightbar{
        width: 25%;
    }

  }


  
@media only screen and (max-width: 1020px) {
    .sidebar{
       display: none;
    }
    .feed{
        width:50%;
    }
    .rightbar{
        width: 33%;
    }

    .allUserPhotosContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .profileUserImg{
        width: 100%;
    }


  }
