.profile{
    display: flex;
}

.profileRight {
    flex:7;
}

.profileRightBottom{
    display: flex;
}

.profilePageSidebar{
    flex: 1.75;
}

.profileFeed{
    min-width: 100%;
}



/*All Profile Media Queries */

@media only screen and (max-width: 1500px) {
    .feed, .sidebar{
        width:33%;
    }
    .rightbar{
        /* width: 25%; */
        min-width: 400px;
    }

      .feedWrapper{
        padding: 20px 20px;
    }
  }


  @media only screen and (max-width: 1350px) {
    .feedWrapper{
        padding: 20px 20px;
    }

    /* .sidebar{
        display: none;
    } */
    
  }

@media only screen and (max-width: 1020px) {
    .sidebar{
       display: none;
    }
    .feed{
        width:50%;
    }
    .rightbar{
        width: 33%;
    }

    .allUserPhotosContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .profileUserImg{
        width: 100%;
    }
  }

/* 800 adjust rightbar scale */
@media only screen and (max-width: 800px) {

    .rightbar{
        min-width: 0;
    }


    .profileRightbarMargin{
        width: auto;
    }


    .profileUserImg{
        height: 200px;
        width: 200px;
    }


}



  /* 975 make vertical */

  @media only screen and (max-width: 600px) {

    .profile{
        background-color: rgb(236,236,236);
    }

    .profileRightTop{
        display: none;
    }

    .profileRightBottom{
        flex-direction: column-reverse;
    }
    
    
    .allUserPhotosContainer{
        min-height: 200px;
    }
    .rightbarWrapper{
        height: 840px;
    }

    .rightbar{
        position: relative !important;
        min-width: 400px;
        max-width: 450px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
    }

    .feed{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: none;
    }


  }