.profile{
    display: flex;
}

.profileRight {
    flex:7;
}

.profileRightBottom{
    display: flex;
}

.profilePageSidebar{
    flex: 1.75;
}



/*All Profile Media Queries */

@media only screen and (max-width: 1500px) {
    .feed, .sidebar{
        width:33%;
    }
    .rightbar{
        width: 25%;
        min-width: 400px;
    }
  }


  @media only screen and (max-width: 1350px) {
    .sidebar{
        display: none;
    }
    
  }

@media only screen and (max-width: 1020px) {
    .sidebar{
       display: none;
    }
    .feed{
        width:50%;
    }
    .rightbar{
        width: 33%;
    }

    .allUserPhotosContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .profileUserImg{
        width: 100%;
    }
  }

  /* 975 make vertical */

  @media only screen and (max-width: 950px) {
    .profileRightBottom{
        flex-direction: column-reverse;
    }
    
    .rightbar{
        position: relative !important;
        min-width: 400px;
        max-width: 450px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .feed{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: none;
    }

  }