.photoAlbumContainer {
    display: flex;
    background-color: rgb(236,236,236);
    max-height: 100vh;
    
}
.photoAlbum {
    flex: 5.5;
    background-color: rgb(236,236,236);
    margin:5px;
}

.photoAlbumHeader{
    padding: 25px 20px 20px 20px ;
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
    background-color:#fff;
    box-sizing: border-box;
    border: 10px solid rgb(49,49,49);


}

.photoAlbumHr{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}


.rightbarPhotoAlbum{
    position: sticky;
    overflow-y: scroll;
}