.profilePicCancelImg {
    min-width: 32px;
    min-height: 32px;
    background-color: #ff0000; 
    border-radius: 50%;
    position: absolute;
    bottom: 15px ;
    left: calc(50% - 57px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1;
}

.profilePicCancelImg:hover{
    background-color: #ff4040;
}


.saveProfileImgButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    background-color: #77BC3F;
    border: none;
    bottom: 15px ;
    left: calc(50% + 27px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1;
}

.saveProfileImgButton:hover{
    background-color: #75cc2f;
}

.saveCoverImgButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    background-color: #77BC3F;
    border: none;
    bottom: 55px ;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1;
}

.saveCoverImgButton:hover{
    background-color: #75cc2f;
}

.coverPicCancelImg{
    min-width: 32px;
    min-height: 32px;
    background-color: #ff0000; 
    border-radius: 50%;
    position: absolute;
    bottom: 55px ;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1;
}

.coverPicCancelImg:hover{
    background-color: #ff4040;
}

.profileCoverCameraIcon {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border-radius: 50%;
    position: absolute;
    bottom: 58px ;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.profileCoverCameraIcon:hover {
    background-color: lightgreen;
}