.topbarContainer {
    height: 90px;
    width: 100%;
    background-color: #fff;
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}


/* the flex:# divides the topbar into units. Right now it's divided into 12 units */
.topbarLeft{
    flex: 2;
    margin-left: auto;
    margin-right: auto;
}


.logo{
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logoImg {
    margin-top: 10px;
    width: 90%;
}


.topbarCenter{
    flex: 5.5;
    height: 90px;
    width: 100%;
    opacity: 0;
}

.topbarRight{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;

}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons{
    display:flex;
    position: relative;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}


.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}


.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* Picture looks better with object-fit cover */
    object-fit: cover;
    cursor: pointer;
}

#logoutButton {
    width: 100%;
    align-self: center;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

#logoutButton:hover{
    background-color: #8843c0;
}

.topbarLink{
    color: black;
}

.notificationContainer{
    position: absolute;
    margin-top: 28px;
    right: 12px;
}