.settingsCenter{
    display: flex;
    width: 60%;
    min-height: calc(100vh);
    top: 0;
    position: sticky;
}

.middleSettings{
    width: 100%;
}

.updateProfileSettingsForm{
    color: black;
    min-width: 100%;;
}

.settingsCurrentValue{
    color: blue;
}

.settingsPageH1 {
    padding: 10px 0px 15px;
}

.settingsHr{
    width: 100%;
}

.settingsUserInfoContainer{
    width: 50%;
    margin: 20px 0px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 20px 0px 20px 10px;
}

.settingsInput{
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

.readonlyInput{
    font-size: 12px;
}

.settingsRightbar{
    width: 20%;
    height: calc(100vh);
    max-height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
}


.editSettingsIcon:hover{
    cursor: pointer;
    text-decoration: underline;
}

.settingsGoBack{
    text-decoration: none;
    padding-bottom: 5px;
}

.settingsGoBack:hover{
    cursor: pointer;
    text-shadow: 1px 0px 0px black;
}

.settingsProfileInfoName{
    box-sizing: border-box;
    position:relative;
    font-size: 3.6rem;
    padding-top: 0.25em;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    overflow-wrap: break-word;
}

.settingsButton{
    margin-right: 0.5em;
}

.settingsUserInfoContainer.danger{
    color: white;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 0;
    margin: 0;
}

.deleteProfile{
    font-size: 1.8rem;
    margin: 0 .5em;
    text-align: center;
}


button.deleteProfile{
    background-color: black;
    color: white;
    padding: 0.75em;
    transition: .25s;
}

button.deleteProfile:hover{
    color: red;
}

.formDanger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 90px);
    align-content:flex-end;
    width: 100%;
}

.dangerZone{
    margin: 0;
    padding: 0px;
    background-color: red;
    width: 50%;
        max-width: 500px;
        min-width: fit-content;
    margin-left: auto;
    margin-right:auto;
}

.settingsTopbar{
    padding-left: 10px;
}

.settingsMobileTopbar{
    display: none;
}