@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    font-family: 'Josefin Sans';
    box-sizing: border-box;
}

.register {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-image: url('../../styleAssets/images/faamLarge.png');
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 100%;
}

/* Most of the code for Register.jsx is in login.css */