/* General */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    font-family: 'Josefin Sans';
    box-sizing: border-box;
}

.login {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}


/* Login Triangle */
.loginTriangle{
    height: 0vh;
    position: absolute;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    
    animation: triangle-rise 1.75s ease-out normal;
    -webkit-animation: triangle-rise 1.75s ease-out forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: triangle-rise 1.75s ease-out; /* Firefox < 16 */
     -ms-animation: triangle-rise 1.75s ease-out; /* Internet Explorer */
      -o-animation: triangle-rise 1.75s ease-out; /* Opera < 12.1 */
      animation-timing-function: cubic-bezier(0.42, 0, 0.25, 1);

}
    .greenTriangle{
    animation-delay: .33333s;
    /* animation-timing-function: cubic-bezier(0.28, 0.37, 0.58, 1); */
    }
    .arrow-up-black {
        width: 0; 
        height: 100vh; 
            max-height: 100vh; 
        border-left: 50vw solid transparent; /* Left foot */
        border-right: 50vw solid transparent; /* Right foot */
        border-bottom: 100vw solid black; /* Height */
        position: absolute;
        margin-left: -25%;
        z-index: 1;


    }
    .arrow-up-green {
        width: 0; 
        height: 100vh;
            max-height: 100vh; 
        border-left: 50vw solid transparent; /* Left foot */
        border-right: 50vw solid transparent; /* Right foot */
        border-bottom: 100vw solid var(--faam-green); /* Height */
        z-index: 2;
        position: absolute;
        margin-right: 0%;
        margin-left: 25%;
    }


.loginWrapper {

    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-animation: fadeinform 4.5s ease-out forwards, largedropdown 4.5s ease-out forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinform 4.5s ease-out forwards, largedropdown 4.5s ease-out forwards; /* Firefox < 16 */
     -ms-animation: fadeinform 4.5s ease-out forwards, largedropdown 4.5s ease-out forwards; /* Internet Explorer */
      -o-animation: fadeinform 4.5s ease-out forwards, largedropdown 4.5s ease-out forwards; /* Opera < 12.1 */
         animation: fadeinform 4.5s ease-out forwards, largedropdown 4.5s ease-out forwards;

    
}
.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 75%;
        min-height: 550px;
        max-height: 735px;
    border: 8px solid black;
    width: fit-content;

    -webkit-box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.54); 
box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.54);
}

.loginLeft, .loginRight{
    display: flex;
}
    .loginLeft{
        width: 50vw;
        align-items: left;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
        .loginLogo{
            width: 100%;
        }
        .loginLogoImg{
            width: 100%;
        }
        .loginWelcome{
            font-size: 5.5rem;
            margin-left: 1.25em;
        }

    .loginRight{ 
        align-items: center;
        justify-content: left;
    }


/* Login Form */

.loginFormContainer{
    margin-right: 1.5em;
}

        .loginDesc {
            font-size: 24px;
        }

        .loginBox {    
            height: 450px;
            width: 350px;
            padding: 20px;
            background-color: rgba(255,255,255,1);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 10px solid black;
            align-items: center;
        }

        .loginInput {
            height: 50px;
            bottom: 1px solid gray;
            font-size: 18px;
            width: 75%;
        }

        .loginInput:focus{
            outline: none;
        }

        .loginButton, .loginRegisterButton {
            height: 50px;
            border: none;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            width: 75%;
            padding: 7px;
            box-sizing: border-box;
            border: 3px solid black;
            background-color: rgb(0,255,153);
            font-weight: 500;
            cursor: pointer;
            color: Black;
            font-size: 16px;
        }

        .loginRegisterButton{
            width: 100%;
            margin: 0;
        }

        .loginButton:hover, .loginRegisterButton:hover{
            background-color: rgb(25,230,148);
        }
        .loginButton:focus{
            outline:none;
        }

        .loginButton:disabled{
            cursor:not-allowed;
        }

        .loginForgot {
            text-align: center;
            color: #8843c0;
        }

        .loginForgot a {
            text-align: center;
            color: #8843c0;
            text-decoration: none;
        }


        .loginForgot a:hover {
            text-decoration: underline;
        }

        .registerLink {
            text-align: center;
        }

        .circular {
            color: white;
        }

/* About link */

.loginFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: left;
    font-size: 12px;
    height: 5vh;
        min-height: 5vh;
    color: white;
    padding: 0px 15px;
}
.loginFooterAbout{
    color: white;
}
.aboutIconLogin{
    color: white;
}
.loginFooterAboutLink{
    justify-content: center;
}
/* Queries */

@media only screen and (max-width: 1400px) {
    
    .login::before{
        background-position: top;
        background-size: fill;
        transition: .25s;
    }
  }

  @media only screen and (max-width: 768px) {
    /* Column box */
    .loginContainer{
        height: fit-content;
        max-height: none;
        padding: 1em;
        flex-direction: column;
    }
    .loginFormContainer{
        margin-right: auto;
    }
    .loginWelcome{
        margin-left: 0;
        font-size: 3.5rem;
    }
    .loginLeft{
        width: 80%;
    }
    .loginContainer{
        max-width: 85%;
    }

}


  @media screen and (max-width: 605px) {

      .loginLeft{
          width: 80%;
      }
      .loginWelcome{
        font-size: 3rem;
    }
    .loginContainer{
        max-width: 90%;
    }
  }

  @media screen and (max-width: 480px) {
    .loginBox{
        width: 80vw;
    }
  }


  /* ANIMATIONS */

/* Dropdown */
 @keyframes dropdown { 
      from { -moz-transform: translateY(-1em);
          -webkit-transform: translateY(-1em);
          -ms-transform: translateY(-1em);
          transform: translateY(-1em); }
      to   { -moz-transform: translateY(0em);
          -webkit-transform: translateY(0em);
          -ms-transform: translateY(0em);
          transform: translateY(0em); }
  }
        /* Firefox < 16 */
        @-moz-keyframes dropdown {
            from { -moz-transform: translateY(-1em);
                -webkit-transform: translateY(-1em);
                -ms-transform: translateY(-1em);
                transform: translateY(-1em); }
            to   { -moz-transform: translateY(0em);
                -webkit-transform: translateY(0em);
                -ms-transform: translateY(0em);
                transform: translateY(0em); }
        }   
        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes dropdown {
            from { -moz-transform: translateY(-1em);
                -webkit-transform: translateY(-1em);
                -ms-transform: translateY(-1em);
                transform: translateY(-1em); }
            to   { -moz-transform: translateY(0em);
                -webkit-transform: translateY(0em);
                -ms-transform: translateY(0em);
                transform: translateY(0em); }
        }    
        /* Internet Explorer */
        @-ms-keyframes dropdown {
            from { -moz-transform: translateY(-1em);
                -webkit-transform: translateY(-1em);
                -ms-transform: translateY(-1em);
                transform: translateY(-1em); }
            to   { -moz-transform: translateY(0em);
                -webkit-transform: translateY(0em);
                -ms-transform: translateY(0em);
                transform: translateY(0em); }
        }
        /* Opera < 12.1 */
        @-o-keyframes dropdown {
            from { -moz-transform: translateY(-1em);
                -webkit-transform: translateY(-1em);
                -ms-transform: translateY(-1em);
                transform: translateY(-1em); }
            to   { -moz-transform: translateY(0em);
                -webkit-transform: translateY(0em);
                -ms-transform: translateY(0em);
                transform: translateY(0em); }}
        

/* Large Dropdown */
@keyframes largedropdown {
    0% { -moz-transform: translateY(-2.25em);
        -webkit-transform: translateY(-2.25em);
        -ms-transform: translateY(-2.25em);
        transform: translateY(-2.25em); }
33% { -moz-transform: translateY(-2.25em);
        -webkit-transform: translateY(-2.25em);
        -ms-transform: translateY(-2.25em);
        transform: translateY(-2.25em); }
    100%   { -moz-transform: translateY(0em);
        -webkit-transform: translateY(0em);
        -ms-transform: translateY(0em);
        transform: translateY(0em); }
} 
        /* Firefox < 16 */
        @-moz-keyframes largedropdown {
        0% { -moz-transform: translateY(-2.25em);
            -webkit-transform: translateY(-2.25em);
            -ms-transform: translateY(-2.25em);
            transform: translateY(-2.25em); }
        33% { -moz-transform: translateY(-2.25em);
            -webkit-transform: translateY(-2.25em);
            -ms-transform: translateY(-2.25em);
            transform: translateY(-2.25em); }
        100%   { -moz-transform: translateY(0em);
            -webkit-transform: translateY(0em);
            -ms-transform: translateY(0em);
            transform: translateY(0em); }
        }
        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes largedropdown {
        0% { -moz-transform: translateY(-2.25em);
            -webkit-transform: translateY(-2.25em);
            -ms-transform: translateY(-2.25em);
            transform: translateY(-2.25em); }
        33% { -moz-transform: translateY(-2.25em);
            -webkit-transform: translateY(-2.25em);
            -ms-transform: translateY(-2.25em);
            transform: translateY(-2.25em); }
        100%   { -moz-transform: translateY(0em);
            -webkit-transform: translateY(0em);
            -ms-transform: translateY(0em);
            transform: translateY(0em); }
        }
        /* Internet Explorer */
        @-ms-keyframes largedropdown {
        0% { -moz-transform: translateY(-2.25em);
            -webkit-transform: translateY(-2.25em);
            -ms-transform: translateY(-2.25em);
            transform: translateY(-2.25em); }
        33% { -moz-transform: translateY(-2.25em);
            -webkit-transform: translateY(-2.25em);
            -ms-transform: translateY(-2.25em);
            transform: translateY(-2.25em); }
        100%   { -moz-transform: translateY(0em);
            -webkit-transform: translateY(0em);
            -ms-transform: translateY(0em);
            transform: translateY(0em); }
        }
        /* Opera < 12.1 */
        @-o-keyframes largedropdown {
        0% { -moz-transform: translateY(-2.25em);
            -webkit-transform: translateY(-2.25em);
            -ms-transform: translateY(-2.25em);
            transform: translateY(-2.25em); }
        33% { -moz-transform: translateY(-2.25em);
            -webkit-transform: translateY(-2.25em);
            -ms-transform: translateY(-2.25em);
            transform: translateY(-2.25em); }
        100%   { -moz-transform: translateY(0em);
            -webkit-transform: translateY(0em);
            -ms-transform: translateY(0em);
            transform: translateY(0em); }
            }


/* Fade in */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        /* Opera < 12.1 */
        @-o-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

/* Fade in form */

@keyframes fadeinform {
    0% { opacity: 0; }
    50% { opacity: 0; }
    65%   { opacity: 1; }
}
        /* Firefox < 16 */
        @-moz-keyframes fadeinform {
            0% { opacity: 0; }
            50% { opacity: 0; }
            65%   { opacity: 1; }
        }
        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadeinform {
            0% { opacity: 0; }
            50% { opacity: 0; }
            65%   { opacity: 1; }
        }
        /* Internet Explorer */
        @-ms-keyframes fadeinform {
            0% { opacity: 0; }
            50% { opacity: 0; }
            65%   { opacity: 1; }
        }
        /* Opera < 12.1 */
        @-o-keyframes fadeinform {
            0% { opacity: 0; }
            50% { opacity: 0; }
            65%   { opacity: 1; }
        }


/* Rise up triangles */

@keyframes triangle-rise {
    0% { height: 0vh;  }
    100% { height: 100vh; }
}