.settingsWrapper {
    display: flex;
}



/* Small Screens */
@media only screen and (max-width: 1024px) {
    div.settingsRightbar{
        width: 40%;
    }    

    .settingsMobileTopbar{
        display: block;
    }
  }


  /* Tablets */
@media only screen and (max-width: 768px) {
    div.settingsUserInfoContainer{
        width: 100%;
    }
}


/* Phone */
  @media only screen and (max-width: 480px) {
        .settingsWrapper{
            flex-direction: column-reverse;
        }

        .settingsCenter, div.settingsRightbar{
            width: 100%;
        }
        .settingsRightbar{
            position: relative;
            height: fit-content;
        }

  }

