.feed {
    width: 60%;
}

.feedWrapper{
    padding:20px 40px;
}

.feedendWrapper{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin: 10px;
}

.feedtoTop:hover{
    cursor: pointer;
}

.feedupArrow{
border-bottom: 1px solid black;
width: 24px;
}

.feednothingToSee{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
    
}